<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-card"></div>
        <mat-card-title>Adicionar Aeronave</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form">

            <mat-form-field class="full-width">
                <mat-label>Marca</mat-label>
                <mat-select formControlName="marca">
                    <mat-option value="Embraer">Embraer</mat-option>
                    <mat-option value="Airbus">Airbus</mat-option>
                    <mat-option value="Boeing">Boeing</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Descricao" formControlName="descricao">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Ano" formControlName="ano">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Vendido</mat-label>
                <mat-select formControlName="vendido">
                    <mat-option value="true">Sim</mat-option>
                    <mat-option value="false">Não</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button (click)="salvar()">Salvar</button>
                <button mat-raised-button color="primary" style="margin-left: 30px;"
                    (click)="cancelar()">Cancelar</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>