#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

mat-card {
    width: 50%;
}

.loading-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}